// fonts
$firagoBook: "Conv_FiraGO-Book";
$firagoMedium: "Conv_FiraGO-Medium";
$firagoBold: "Conv_FiraGO-Bold";
$poppins: "Conv_Poppins-SemiBold";
// colors
$bg-ff: #2496ff;
$cl-white: #fff;
$cl-35: #272e35;
$cl-7c: #6e757c;
$br-b5: #748fb526;
$cl-b5: #748fb5;

:root {
  --firagoBook: "Conv_FiraGO-Book";
  --firagoMedium: "Conv_FiraGO-Medium";
  --firagoBold: "Conv_FiraGO-Bold";
  --poppins: Poppins;
  --poppinsMedium: "Poppins-Medium";
  --cl-blue: #2496ff;
  --cl-red: #f83737;
}
@media (prefers-color-scheme: dark) {
  :root {
    --gray-box: #3a3a3c;
    --white-black: #1c1c1e;
    --circle-border: #2c2c2e;
    --cl-moon: #2496ff;
    --cl-hover-moon: #2496ff;
    --cl-sun: #81888f;
    --cl-hover-sun: #ffffff;
    --cl-fa: #222224;
    --cl-26: #fff;
    --cl-84: #81888f;
    --cl-1e: #28282c;
    --bg-dark-light: #1c1c1e;
    --bg-app: #28282c;
    --bg-mode: #121214;
    --cl-84-ff: #fff;
  }
}
:root[color-scheme="dark"] {
  --gray-box: #3a3a3c;
  --white-black: #1c1c1e;
  --circle-border: #2c2c2e;
  --cl-moon: #2496ff;
  --cl-hover-moon: #2496ff;
  --cl-sun: #81888f;
  --cl-hover-sun: #ffffff;
  --cl-fa: #222224;
  --cl-26: #fff;
  --cl-84: #81888f;
  --cl-1e: #28282c;
  --bg-dark-light: #1c1c1e;
  --bg-app: #28282c;
  --bg-mode: #121214;
  --cl-84-ff: #fff;
}
@media (prefers-color-scheme: light) {
  :root {
    --gray-box: #f7f8fa;
    --white-black: #fff;
    --circle-border: #fff;
    --cl-moon: #627384;
    --cl-hover-moon: #130f26;
    --cl-sun: #130f26;
    --cl-hover-sun: #2496ff;
    --cl-fa: #f7f8fa;
    --cl-26: #130f26;
    --cl-84: #627384;
    --cl-1e: #1c1c1e;
    --bg-dark-light: #fff;
    --bg-app: #f7f8fa;
    --bg-mode: #f7f8fa;
    --cl-84-ff: #627384;
  }
}
:root[color-scheme="light"] {
  --gray-box: #f7f8fa;
  --white-black: #fff;
  --circle-border: #fff;
  --cl-moon: #627384;
  --cl-hover-moon: #130f26;
  --cl-sun: #130f26;
  --cl-hover-sun: #2496ff;
  --cl-fa: #f7f8fa;
  --cl-26: #130f26;
  --cl-84: #627384;
  --cl-1e: #1c1c1e;
  --bg-dark-light: #fff;
  --bg-app: #f7f8fa;
  --bg-mode: #f7f8fa;
  --cl-84-ff: #627384;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}
:root[color-scheme="dark"] {
  .additional-boxes .box-item svg {
    path {
      stroke: #fff !important;
    }
  }
  .mm-dark {
    &::after {
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
    }
  }
}
@media (prefers-color-scheme: light) {
  :root {
  }
}
:root[color-scheme="light"] {
  .mm-light {
    &::after {
      box-shadow: 0px 4px 12px rgba(91, 96, 105, 0.16);
    }
  }
}

.dark-light-mode {
  > div {
    border-radius: 100px;
    // overflow: hidden;
    display: inline-flex;
    background-color: var(--bg-mode);
    padding: 4px;
    border-radius: 12px;
    position: relative;
    .mm-btn-div {
      position: relative;
      &::after {
        position: absolute;
        width: calc(100% - 8px);
        height: calc(100% - 4px);
        top: 4px;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        display: block;
        border-radius: 10px;
      }
    }
    button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 10px;
      font-size: 1rem;
      background-color: transparent;
      cursor: pointer;
      padding: 12px 16px;
      font-family: var(--firagoBook);
      font-weight: 350;
      z-index: 1;
      position: relative;
      svg {
        width: 24px;
        height: 24px;
        min-width: 24px;
        max-width: 24px;
        min-height: 24px;
        max-height: 24px;
      }
    }
    .dark {
      color: var(--cl-84-ff);
      background-color: var(--gray-box);
      &:hover {
        color: var(--cl-26);
        svg {
          path {
            fill: var(--cl-26);
          }
        }
      }
      svg {
        path {
          fill: var(--cl-84-ff);
        }
      }
    }
    .light {
      color: var(--cl-sun);
      background-color: var(--white-black);
      &:hover {
        color: var(--cl-26);
        svg {
          path {
            fill: var(--cl-26);
          }
        }
      }
      svg {
        path {
          fill: var(--cl-sun);
        }
      }
    }
  }
}
:root {
  --lg-size: 800px;
  @media (max-width: 1440px) {
    --lg-size: 608px;
  }
  @media (max-width: 375px) {
    --lg-size: 343px;
  }
}
body {
  overflow-x: hidden;
}

// mixins
@mixin flexBox($type, $horiz, $vert, $wrap, $gap) {
  display: $type;
  justify-content: $horiz;
  align-items: $vert;
  flex-wrap: $wrap;
  gap: $gap;
}
// placeholders
%btn-box {
  padding: 0px 16px;
  height: 56px;
  border-radius: 12px;
  @include flexBox(inline-flex, center, center, inherit, 8px);
  cursor: pointer;
  svg {
    width: 24px;
    height: 24px;
  }
}
// general styles for elements
.general-gray-text {
  font-family: $firagoMedium;
  font-size: 16px;
  color: $cl-7c;
  line-height: 24px;
}
.centered-element {
  margin: 0 auto;
  max-width: 1520px;
  width: calc(100% - 400px);
  // width: 98%;
  @media (max-width: 1440px) {
    max-width: 1240px;
    width: calc(100% - 200px);
  }
  @media (max-width: 1440px) {
    max-width: calc(100% - 16px);
  }
}
.mobile-app-btns {
  @include flexBox(inline-flex, flex-start, center, wrap, 24px);
  > a {
    @include flexBox(inline-flex, flex-start, center, nowrap, 0px);
    border-radius: 12px;
    // flex-grow: 1;
    // min-width: 200px;
    padding: 20px;
  }
  > a:nth-child(1) {
    svg {
      * {
        fill: var(--cl-26);
      }
    }
  }
  > a:nth-child(2) {
    svg {
      > path:nth-child(n + 5) {
        fill: var(--cl-26);
      }
    }
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // user-select: none;
}
ul,
ol {
  list-style-type: none;
}
a,
span,
small {
  display: inline-block;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  border: none;
  display: inline-flex;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // overflow-x: hidden;
  background-color: var(--bg-dark-light);
  #root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    #container {
      display: flex;
      flex-direction: column;
      width: 100%;
      // overflow-x: hidden;
      #main-element {
        flex-grow: 1;
        display: flex;
        background-color: var(--bg-dark-light);
        flex-direction: column;
        gap: 180px;
      }
    }
  }
}
.company-logo {
  @include flexBox(inline-flex, inherit, center, inherit, 8px);
  > span {
    font-family: $poppins;
    font-size: 24px;
    color: var(--cl-26);
    text-transform: capitalize;
  }
}
header {
  padding-top: 16px;
  padding-bottom: 16px;
  position: sticky;
  background-color: var(--bg-dark-light);
  z-index: 9;
  box-shadow: 0px 4px 40px rgba(215, 226, 236, 0.25);
  top: 0px;
  > div {
    @include flexBox(flex, space-between, center, wrap, 20px);
  }
  .burger {
    display: none;
    cursor: pointer;
  }
  nav {
    @include flexBox(inline-flex, inherit, center, wrap, 48px);
    ul {
      @include flexBox(inline-flex, center, center, wrap, 49px);
      a {
        color: var(--cl-84);
        font-size: 16px;
        font-family: $firagoBook;
        &:hover {
          color: var(--cl-26);
        }
      }
    }
  }
  .hd-register {
    @include flexBox(inline-flex, center, center, wrap, 8px);
    .authorise {
      color: var(--cl-26);
      font-size: 16px;
      font-family: $firagoMedium;
    }
    .register {
      color: $cl-white;
      font-family: $firagoMedium;
      font-size: 16px;
      background-color: $bg-ff;
    }
    > a,
    .language {
      @extend %btn-box;
    }
    .language {
      cursor: pointer;
      @include flexBox(inline-flex, center, center, nowrap, 24px);
      > div {
        @include flexBox(inline-flex, center, center, nowrap, 8px);
        font-family: $firagoBook;
        color: var(--cl-84);
        .symbol-svg {
          @include flexBox(inline-flex, center, flex-end, nowrap, 0px);
        }
      }
      .lang-arrow {
        height: 24px;
      }
    }
  }
}
#container {
  flex-grow: 1;
}
footer {
  margin-top: 160px;
  padding-top: 80px;
  border-top: 1px solid #777e914d;
  background-color: var(--bg-dark-light);
  .mobile-app-btns {
    > a {
      background-color: var(--bg-app);
      min-width: 200px;
    }
  }
  > div {
    display: flex;
    flex-direction: column;
    .footer-top {
      display: grid;
      grid-template-columns: 1fr 400px;
      grid-gap: 30px;
      padding-bottom: 48px;
      border-bottom: 3px solid #748fb526;
      .footer-top-left {
        display: flex;
        flex-direction: column;
        .general-gray-text {
          margin-top: 24px;
          margin-bottom: 32px;
          max-width: 623px;
        }
      }
      .footer-top-right {
        .common-blue-btn {
          @include flexBox(inline-flex, center, center, nowrap, 8px);
          color: $cl-white;
          @extend %btn-box;
          font-family: $firagoBook;
          background-color: $bg-ff;
          font-size: 14px;
        }
        > span {
          position: absolute;
          right: 16px;
          bottom: 16px;
        }
      }
    }
    .footer-bottom {
      @include flexBox(flex, space-between, center, wrap, 20px);
      padding-bottom: 200px;
      padding-top: 24px;
      > span {
        color: var(--cl-84);
        font-family: $firagoMedium;
        font-size: 12px;
      }
      ul {
        @include flexBox(inline-flex, center, center, wrap, 24px);
      }
    }
  }
  // .dark-light-mode {
  //   align-self: flex-start;
  //   margin-top: 29px;
  //   > div {
  //     border-radius: 12px;
  //   }
  //   .light {
  //     border-right: 1px solid #e6e8ec;
  //   }
  // }
  .mobile-app-btns {
    align-self: flex-start;
    padding-bottom: 32px;
    border-bottom: 1px solid #e6e8ec;
  }
}

.full-element {
  padding: 160px 0;
  padding-top: 0;
  max-width: 1520px;
  width: calc(100% - 400px);
  padding-top: 100px;
  // margin-left: auto;
  // margin: 0 auto;
  // width: 98%;
  display: grid;
  grid-template-columns: 640px 1fr;
  margin: 0 auto;
  .full-element-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    > strong {
      color: $bg-ff;
      font-size: 24px;
      font-weight: 800;
      font-family: $firagoBold;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
      font-size: 64px;
      font-family: $firagoBold;
      color: var(--cl-26);
      max-width: 586px;
    }
    > p {
      max-width: 586px;
    }
    > *:last-child {
      margin-top: 24px;
    }
  }
  .full-element-img {
    // background-color: var(--cl-fa);
    // height: var(--lg-size);
    @media (max-width: 1920px) {
      width: 50vw;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.container-boxes {
  .boxes-general-title {
    @include flexBox(flex, center, flex-start, nowrap, 16px);
    flex-direction: column;
    margin-bottom: 80px;
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
      font-size: 48px;
      color: var(--cl-26);
      font-family: $firagoBold;
    }
    > p {
      font-size: 12px;
      color: $cl-b5;
      font-family: $firagoBold;
      font-weight: 800;
    }
  }
  .box-list {
    display: flex;
    flex-direction: column;
    gap: 180px;
    position: relative;
    z-index: 1;
    > div:nth-child(even) {
      > span,
      .hovered-boxes {
        order: 1;
        margin-left: auto;
      }
      > div {
        flex-grow: 1;
      }
    }
    > div:nth-child(odd) {
      gap: 120px;
      > span,
      .hovered-boxes {
        order: -1;
      }
    }
    > div {
      display: flex;
      .hovered-boxes {
        flex-grow: 1;
        // background-color: #f1f1f1;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        .hovered-box-item {
          // background-color: #fff;
          padding: 32px;
          border-radius: 24px;
          display: flex;
          gap: 32px;
          align-items: center;
          transition: 0.1s ease-in-out;
          position: relative;
          cursor: pointer;
          > * {
            position: relative;
            z-index: 99;
          }
          &::after {
            position: absolute;
            top: 56px;
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
            // z-index: -1;
            content: "";
            display: block;
            width: calc(100% - 64px);
            border-radius: 24px;
            transition: 0.1s ease-in-out;
          }
          &::before {
            position: absolute;
            top: 0;
            height: 100%;
            left: 0;
            z-index: 0;
            content: "";
            border-radius: 24px;
            display: block;
            width: 100%;
            transition: 0.1s ease-in-out;
          }
          &:hover {
            &::before {
              background-color: #fff !important;
              z-index: 9;
            }
            &::after {
              background: #e3e6ec;
              mix-blend-mode: multiply;
              opacity: 0.6;
              filter: blur(80px);
              border-radius: 24px;
            }
          }
          .title-text {
            display: inline-flex;
            flex-direction: column;
            gap: 16px;
            > div {
              color: #11142d;
              font-size: 32px;
              font-family: $firagoMedium;
              line-height: 32px;
            }
            > span {
              font-size: 16px;
              line-height: 16px;
              font-family: $firagoBook;
              color: var(--cl-84);
            }
          }
          .icon {
            width: 104px;
            height: 104px;
            border-radius: 20px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            svg {
              width: 40px;
              height: 40px;
            }
          }
          .small-icon[data-svg="arrowSvg"] {
            svg {
              transform: rotateZ(-90deg);
            }
          }
          .small-icon {
            margin-left: auto;
            transform: rotateZ(-90deg);
            svg {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
      > span {
        height: var(--lg-size);
        flex-grow: 1;
        // background-color: var(--cl-fa);
        min-width: var(--lg-size);
        max-width: var(--lg-size);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .boxes-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        max-width: 600px;
        .box-title {
          font-size: 48px;
          max-width: 355px;
          font-family: $firagoBold;
          color: var(--cl-26);
          line-height: 56px;
        }
        .box-icon {
          align-self: flex-start;
          @include flexBox(inline-flex, center, center, nowrap, 0px);
          width: 88px;
          height: 88px;
          border-radius: 16px;
          svg {
            width: 40px;
            height: 40px;
          }
        }
        .box-icon.simple-pay {
          background-color: rgba(36, 150, 255, 0.08);
          svg {
            * {
              stroke: #2496ff;
            }
          }
        }
        .box-icon.mobile-fill {
          background-color: rgba(255, 199, 0, 0.08);
          svg {
            * {
              stroke: #ffc700;
            }
          }
        }
        .box-icon.gamblig-icon {
          background-color: rgba(255, 141, 35, 0.08);
          svg {
            * {
              stroke: #ff8d23;
            }
          }
        }
        .box-icon.simple-transfer {
          background-color: rgba(13, 187, 83, 0.08);
          svg {
            * {
              stroke: #0dbb53;
            }
          }
        }
        > p {
          color: var(--cl-84);
          font-size: 16px;
          font-family: $firagoBook;
          line-height: 24px;
        }
        button {
          @extend %btn-box;
          align-self: flex-start;
          color: var(--cl-26);
          border: 1px solid var(--cl-26);
          border-radius: 12px;
          background-color: transparent;
          font-family: $firagoMedium;
          padding: 0 24px;
          font-size: 16px;
          min-width: 127px;
        }
      }
    }
  }
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-bottom: 12px;
    font-size: 48px;
    color: var(--cl-26);
    font-family: $firagoBold;
    max-width: 393px;
    line-height: 56px;
  }
  > span {
    line-height: 24px;
    color: var(--cl-84);
    font-size: 16px;
    font-family: $firagoBook;
    display: block;
    margin-bottom: 48px;
  }
  > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
    > label {
      display: flex;
      flex-direction: column;
      gap: 16px;
      > span {
        color: var(--cl-26);
        font-family: $firagoMedium;
        font-size: 16px;
      }
      > input,
      textarea {
        background-color: var(--cl-fa);
        border-radius: 12px;
        padding: 20px 24px;
        border: none;
        color: var(--cl-84);
        outline: none;
        font-family: $firagoBook;
        font-size: 16px;
        &::placeholder {
          color: var(--cl-84);
          font-size: 16px;
          font-family: $firagoBook;
        }
      }
      textarea {
        min-height: 160px;
        resize: none;
      }
    }
  }
  button {
    @extend %btn-box;
    align-self: flex-start;
    background-color: $bg-ff;
    color: $cl-white;
    margin-top: 24px;
    min-width: 119px;
    font-family: $firagoMedium;
  }
}

.additional-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
  grid-gap: 157px;
  .box-item {
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
    svg {
      width: 48px;
      height: 48px;
    }
    div {
      font-size: 24px;
      color: var(--cl-26);
      font-family: $firagoBold;
      max-width: 180px;
      display: inline-flex;
      flex-direction: column;
      gap: 24px;
      &::after {
        display: inline-block;
        width: 80px;
        height: 4px;
        background-color: $br-b5;
        content: "";
      }
    }
    p {
      font-size: 16px;
      line-height: 24px;
      font-family: $firagoBook;
      color: var(--cl-84);
    }
  }
}

// Download App Section
.mm-download-app-statistic {
  .upper-side {
    position: relative;
    .upper-side-circle {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      display: block;
      background: #222224;
      border-radius: 32px;
      overflow: hidden;
      > span {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        &::after,
        &::before {
          display: block;
          border-radius: 50%;
          position: absolute;
          content: "";
        }
        &::after {
          width: 768px;
          height: 768px;
          left: -210px;
          top: -221px;
          background: linear-gradient(
            135.15deg,
            #2496ff 1.17%,
            #2496ff 31.88%,
            #2496ff 65.46%
          );
          mix-blend-mode: overlay;
          opacity: 0.4;
          filter: blur(139.13px);
        }
        &::before {
          width: 435px;
          height: 435px;
          right: 28px;
          bottom: calc(435px / 2);
          background: linear-gradient(
            129.9deg,
            #2496ff 0.91%,
            #2496ff 59.49%,
            #2496ff 123.53%
          );
          mix-blend-mode: overlay;
          opacity: 0.5;
          filter: blur(80px);
        }
      }
    }
    .not-overflowed {
      position: relative;
      z-index: 1;
      display: grid;
      grid-template-columns: 1.1fr 1fr;
      grid-gap: 50px;
      > span {
        transform: translateY(-95px);
        img {
          width: 100%;
          height: 100%;
        }
      }
      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 410px;
        .title {
          color: #fff;
          font-size: 48px;
          font-family: $firagoBold;
          margin-bottom: 16px;
          line-height: 64px;
        }
        p {
          line-height: 24px;
          font-size: 16px;
          margin-bottom: 40px;
          color: #81888f;
          font-family: $firagoBook;
        }
        .mobile-app-btns {
          > a {
            border: 1px solid #ffffff;
            border-radius: 12px;
            padding: 16px 24px;
          }
          > a:first-child {
            svg {
              path {
                fill: #fff;
              }
            }
          }
          > a:last-child {
            svg {
              path:nth-child(n + 5) {
                fill: #fff;
              }
            }
          }
        }
      }
    }
  }
}
